amqp==2.0.3
anyjson==0.3.3
arrow==0.8.0
Babel==2.3.4
backports.ssl-match-hostname==3.5.0.1
billiard==3.5.0.0rc2
caniusepython3==3.4.0
celery==4.0.0rc3
certifi==2016.2.28
click==6.6
contextlib2==0.5.3
distlib==0.2.3
django-admin-honeypot==1.0.0
django-easy-pjax==1.2.0
django-picklefield==0.3.2
django-pipeline==1.6.8
django-redis==4.4.3
django-secure==1.0.1
django-staticflatpages==0.4.0
django-templates-macros==0.1
django-vanilla-views==1.0.4
Django==1.10rc1
djangorestframework==3.4.0
first==2.0.1
flower==0.9.1
futures==3.0.5
Jinja2==2.8
kombu==4.0.0rc3
MarkupSafe==0.23
mock==2.0.0
msgpack-python==0.4.7
newrelic==2.66.0.49
packaging==16.7
pathlib==1.0.1
pbr==1.10.0
pip-tools==1.7.0
psycopg2==2.6.2
pyparsing==2.1.5
python-dateutil==2.5.3
python-redis-lock==3.1.0
pytz==2016.6.1
raven==5.23.0
redis==2.10.5
requests==2.10.0
six==1.10.0
times==0.7
tornado==4.4
vine==1.1.1
wheel==0.29.0
whitenoise==3.2
