amqp==1.4.8
anyjson==0.3.3
arrow==0.7.0
Babel==2.2.0
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.22
caniusepython3==3.3.0
celery==3.1.19
certifi==2015.11.20.1
click==6.2
contextlib2==0.4.0
distlib==0.2.1
Django==1.9.1
django-admin-honeypot==0.4.0
# django-easy-pjax==1.2.0
# django-easy-pjax is broken with 1.9, here's a version that works with 1.9
-e git+https://github.com/Kondou-ger/django-easy-pjax.git@b0ef0070de49afa5cb98fbdab37e871aac8fde95#egg=django_easy_pjax-origin_django-19-fix
django-picklefield==0.3.2
django-pipeline==1.6.4
django-redis==4.3.0
django-secure==1.0.1
django-staticflatpages==0.4.0
django-vanilla-views==1.0.4
djangorestframework==3.3.2
first==2.0.1
flower==0.8.3
futures==3.0.3
Jinja2==2.8
kombu==3.0.32
MarkupSafe==0.23
mock==1.3.0
msgpack-python==0.4.6
newrelic==2.60.0.46
pathlib==1.0.1
pbr==1.8.1
pip-tools==1.4.3
psycopg2==2.6.1
python-dateutil==2.4.2
python-redis-lock==2.3.0
pytz==2015.7
raven==5.9.2
redis==2.10.5
requests==2.9.1
six==1.10.0
times==0.7
tornado==4.3
wheel==0.26.0
whitenoise==2.0.6
