dj-database-url==0.2.2
django-cache-url==0.8.0
django-configurations==0.8
django-pgfields==1.4.3
django-picklefield==0.3.1
django-pq==0.3.2
Django==1.6.2
djangorestframework==2.3.12
hiredis==0.1.2
pip-tools==0.3.4
psycopg2==2.5.2
python-dateutil==2.2
pytz==2013.9
redis==2.9.1
six==1.5.2
times==0.6.2
