{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="large-8 columns">
    <h2>
      <small>
        About caniusepython3.com
      </small>
    </h2>
    This is something about the site.
    <a href="https://pypi.python.org/pypi/caniusepython3" title="CLI">CLI tool</a>
    by <a href="http://nothingbutsnark.svbtle.com/" title="Brett Cannon">Brett Cannon</a>,
    <a href="https://github.com/jezdez/caniusepython3.com" title="site code">site</a> by <a href="https://jezdez.com/" title="Jannis Leidel">Jannis Leidel</a>
    </div>
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}