{% load static from staticfiles %}{% load compressed %}<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}Can I use Python 3?</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  {% compressed_css 'styles' %}
  <!--[if lt IE 9]>
      <link rel="stylesheet" href="{% static "css/gh-fork-ribbon.ie.css" %}">
  <![endif]-->
  <script src="{% static "js/vendor/modernizr.js" %}"></script>
  {% block extra_head %}{% endblock extra_head %}
</head>
<body>
  <div class="github-fork-ribbon-wrapper right show-for-medium-up">
      <div class="github-fork-ribbon">
          <a href="https://github.com/jezdez/caniusepython3.com">Fork me on GitHub</a>
      </div>
  </div>
  <div class="contain-to-grid navigation-area">
    <nav class="top-bar" data-topbar data-options="is_hover: false">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Can I Use Python 3?</a></h1>
        </li>
      </ul>
    </nav>
  </div>
  {% block content %}{% endblock content %}
  <footer>
    <div class="row">
        <div class="small-12 columns">
            <a href="https://pypi.python.org/pypi/caniusepython3" title="CLI">CLI tool</a>
            by <a href="http://nothingbutsnark.svbtle.com/" title="Brett Cannon">Brett Cannon</a>,
            <a href="https://github.com/jezdez/caniusepython3.com" title="site code">site</a> by <a href="https://jezdez.com/" title="Jannis Leidel">Jannis Leidel</a>.
            {% if compatible %}
            <a href="https://pypi.python.org/" title="PyPI">PyPI</a> lists <strong>{{ compatible }}</strong> compatible projects{% if total %} of {{ total }} total{% endif %}.{% endif %}{% if checked %} {{ checked }} checks done.{% endif %}
        </div>
    </div>
  </footer>
  {% compressed_js 'scripts' %}
  <script>
  jQuery(document).ready(function ($) {
    $(document).foundation();
  });
  </script>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://jezdez-piwik.herokuapp.com/";
      _paq.push(["setTrackerUrl", u+"piwik.php"]);
      _paq.push(["setSiteId", "4"]);
      var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
      g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code -->
  {% block extra_footer %}{% endblock extra_footer %}
</body>
</html>
