---

- include: install.deb.yml
  when: ansible_os_family == 'Debian'
  tags: [redis, redis-install]

- include: configure.yml
  tags: [redis, redis-configure]

- name: Ensure the redis started
  service: name={{redis_service}} state=started enabled=yes
