body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.navigation-area {
    margin-bottom: 10px;
}

.top-bar .name h1 {
    font-size: 1.5rem;
}

.top-bar .name h1 a {
    width: 100%;
}

.top-bar .pypi-stats {
    color: #fff;
    line-height: 50px;
    background: none;
}

.check-form input, .check-form textarea {
    font-size: 120%;
    height: 60px;
    padding: 15px;
}
.check-form button {
    margin-top: 10px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}

#drop_zone {
    display: none;
    border: 1px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    color: #bbb;
}

.f-dropdown li.active {
    background: #eeeeee;
}
.f-dropdown li {
    font-size: 1rem;
    line-height: 1.2rem;
}
.f-dropdown li a {
    padding: 0.70rem
}
